{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Staff Profile{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h5 class="m-2 primary-text card shadow-sm p-3">
                <i class="fas fa-user"></i> Staff Profile
            </h5>
        </div>
    </div>
    <div class="card shadow-lg m-1">
        <div class="col-md-12 p-1">
            <div class="mb-3">
                <label class="fw-bold">
                    <i class="fas fa-user"></i> Full Name:
                </label>
                <p>{{ user.get_full_name }}</p>
            </div>

            <div class="mb-3">
                <label class="fw-bold">
                    <i class="fas fa-envelope"></i> Email:
                </label>
                <p>{{ user.email }}</p>
            </div>

            <div class="mb-3">
                <label class="fw-bold">
                    <i class="fas fa-venus-mars"></i> Gender:
                </label>
                <p>{{ user.gender }}</p>
            </div>

            <div class="mb-3">
                <label class="fw-bold">
                    <i class="fas fa-map-marker-alt"></i> Address:
                </label>
                <p>{{ user.address }}</p>
            </div>

            <div class="mb-3">
                <label class="fw-bold">
                    <i class="fas fa-image"></i> Profile Image:
                </label>
                {% if user.image %}
                    <img src="{{ user.image.url }}" alt="{{ user.get_full_name }}" class="img-thumbnail" width="100px">
                {% else %}
                    <p>No profile image available.</p>
                {% endif %}
            </div>

            <div class="mb-3">
                <a href="{% url 'dashboard:profile-details'%}" class="btn btn-primary">
                    <i class="fas fa-user-edit"></i> Edit Profile
                </a>
            </div>
        </div>
    </div>
{% endblock %}
