 {% extends 'public/base.html' %}
 {% load static %} 

 {% block content %}
		<!--explore start -->
		<section id="explore" class="explore">
			<div class="container-fluid">
				<div class="section-header">
					<h2>{{ category.name }} Suite Rooms</h2> 
				</div><!--/.section-header-->
				<div class="row explore-content">
                    <div class="col-sm-12 col-md-6">
                        <div class="single-explore-item">
                            <div class="single-explore-img">
                                <img src="{{ category.image.url}}" alt="explore image">
                                 
                            </div>
                            <div class="single-explore-txt bg-theme-1">
                                <h2><a href="#">{{ category.name }}</a></h2>
                                <p class="explore-rating-price">
                                    <span class="explore-rating">{{category.average_rating}}</span>
                                    <a href="#"> {{category.total_reviews}} ratings</a> 
                                    <span class="explore-price-box"> 
                                        <span class="explore-price">Ksh 5000</span>
                                    </span>
                                     <a href="#">Available Rooms : <span class="text-warning ">{{available_rooms}}</span></a> |
                                     <a href="#">Capacity : <span class="text-warning ">{{category.capacity}}</span></a>
                                </p> 
                                <div class="list-group">
                                    <div  class="list-group-item list-group-item-action primary-bg">
                                      <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1 text-white">Amenities</h5> 
                                      </div> 
                                    </div>
                                    {% for d in description%}
									<div   class="list-group-item list-group-item-action">
										<div class="d-flex w-100 justify-content-between">
										  <p class="mb-1">{{d}}</p>
										  <small class="text-body-secondary">ammenity</small>
										</div> 
									  </div> 
									{% endfor %}
                                  </div>
                                <div class="explore-open-close-part">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="single-explore-item"> 
                            <div class="single-explore-txt bg-theme-1">
                                <h2><a href="#">Book {{category.name }} Suite Room</a></h2> 
                                <div class="explore-person">
                                     <!-- Booking Form -->
									{%  if available_rooms > 0%}
									<form method="post" action="{% url 'hotel:book' %}">
										{% csrf_token %}
                                        {% load custom_filters %}
                                        {% if request.GET.error_message %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ request.GET.error_message | urldecode }}
                                        </div>
                                        {% endif %}
                                        <div class="mb-3">
                                            <label for="room-number" class="form-label">Room Number:</label>
                                            <select class="form-control" id="room-number" name="room" required>
                                                {% for room in possible_rooms_for_category %}
                                                    <option value="{{ room.name }}">{{ room.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
										<div class="mb-3">
											<label for="check-in-date" class="form-label">Check-In Date:</label>
											<input type="datetime-local" class="form-control" id="check-in-date" name="check_in" required>
										</div>
										<div class="mb-3">
											<label for="check-out-date" class="form-label">Check-Out Date:</label>
											<input type="datetime-local" class="form-control" id="check-out-date" name="check_out" required>
										</div>
										<div class="mb-3">
											<label for="guests" class="form-label">Number of Persons</label>
											<input type="number" class="form-control" id="guests" name="persons" required>
										</div>
										<button type="submit" class="btn btn-custom">Book Now</button>
									</form>
									{% else %}
										<p class="text-danger">No rooms available ,  Check later or choose other <a href="{% url 'hotel:all_categories' %}">  Categories</a></p>
									{% endif %}
                                </div>
                                <div class="explore-open-close-part">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
					 
				</div>
			</div><!--/.container--> 
		</section><!--/.explore-->
		<!--explore end --> 
{% endblock content %}

		 