<!-- room_categories_list.html -->
<div class="row">
    {% for category in room_categories %}
        <div class="col-md-3 col-sm-6">
            <div class="single-explore-item">
                <div class="single-explore-img">
                    <img src="{{ category.image.url }}" alt="explore image">
                </div>
                <div class="single-explore-txt bg-theme-1">
                    <h2><a href="#">{{ category.name }} suite</a></h2>
                    <p class="explore-rating-price">
                        <span class="explore-rating">{{category.average_rating}}</span>
                        <a href="#">{{ category.total_reviews}} ratings</a> 
                        <span class="explore-price-box"> 
                            <span class="explore-price">Ksh {{ category.cost }}</span>
                        </span>
                        <a href="#">Available Rooms: <span class="text-warning">{{ category.available_rooms }}</span></a>
                    </p>
                    <div class="explore-person">
                        <div class="row"> 
                            <div class="col-sm-10">
                                <p>
                                    {{ category.description | truncatewords:10 }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="explore-open-close-part">
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="{% url 'hotel:category' category.id %}" > <button class="btn btn-custom">view more </button> </a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    {% endfor %}
</div>
