<!-- change_password.html -->

{% extends 'public/base.html' %}
{% load static %}

{% block content %}
    <div class="container m-5">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'accounts:my_bookings' %}" class="list-group-item list-group-item-action">My Bookings</a>
                    <a href=" {% url 'accounts:profile_details' %}" class="list-group-item list-group-item-action">Profile Details</a>
                    <a href="{% url 'accounts:change_password' %}" class="list-group-item list-group-item-action">Change Password</a>
                    <a href="{% url 'accounts:edit_profile' %} " class="list-group-item list-group-item-action active">Edit Profile</a>
                </div>
            </div>

            <!-- Main Content -->
            <div class="col-md-9">
                <h2>Change Password</h2>
                
                <!-- Change Password Form -->
                <form method="post" action="{% url 'accounts:change_password' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Old Password:</label>
                        <input type="password" class="form-control" id="old_password" name="old_password" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password1" class="form-label">New Password:</label>
                        <input type="password" class="form-control" id="new_password1" name="new_password1" required>
                    </div>
                    <div class="mb-3">
                        <label for="new_password2" class="form-label">Confirm New Password:</label>
                        <input type="password" class="form-control" id="new_password2" name="new_password2" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
