<!-- my_bookings.html -->

{% extends 'public/base.html' %}
{% load static %}

{% block content %}
    <div class="container m-5">
        <div class="row">
            <!-- Sidebar -->
             {% include 'public/profile_sidebar.html'%}

            <!-- Main Content -->
            <div class="col-md-9">
                {% include 'dashboard/message_include.html' %}
                <div class="card-header primary-bg">
                    <i class="bi bi-person"></i> <p class= "  text-white">My bookings </p>
                </div>
            
                {% if bookings %}
                    <table class="table responsive">
                        
                        <thead>
                            <tr>
                                <th scope="col">Booking ID</th>
                                <th scope="col">Check-In</th>
                                <th scope="col">Check-Out</th>
                                <th scope="col">Status</th>
                                <th scope="col">Links</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                                <tr>
                                    <th scope="row">{{ booking.id }}</th>
                                    <td>{{ booking.check_in }}</td>
                                    <td>{{ booking.check_out }}</td>
                                    <td>
                                        {% if booking.status == 'active' %}
                                            <span class="badge bg-success">Active</span>
                                            {% endif %}
                                        {% if booking.status == 'cancelled' %} 
                                            <span class="badge bg-warning">Cancelled</span>
                                            {% endif %}
                                        {% if booking.status == 'checked out' %}
                                            <span class="badge bg-warning text-dark">checked out</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'accounts:booking_details' booking.id %}"><button  class="btn btn-custom btn-sm">View </button></a> 
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No bookings found.</p>
                {% endif %}
            </div>
            
        </div>
    </div>
{% endblock %}
