<!-- profile.html -->

{% extends 'public/base.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="{% url 'accounts:my_bookings' %}" class=" list-group-item list-group-item-action">My Bookings</a>
                    <a href=" {% url 'accounts:profile_details' %}" class="list-group-item list-group-item-action">Profile Details</a>
                    <a href="{% url 'accounts:change_password' %}" class="list-group-item list-group-item-action">Change Password</a>
                    <a href="{% url 'accounts:edit_profile' %} " class="list-group-item list-group-item-action active">Edit Profile</a>
                </div>
            </div> 
            <!-- Main Content -->
            <div class="col-md-9">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="bi bi-person"></i> <p class="text-primary">Profile Details</p>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-3">Full Name:</dt>
                            <dd class="col-sm-9">{{ user.get_full_name }}</dd>

                            <dt class="col-sm-3">Email:</dt>
                            <dd class="col-sm-9">{{ user.email }}</dd>

                            <dt class="col-sm-3">Gender:</dt>
                            <dd class="col-sm-9">{{ user.gender }}</dd>

                            <dt class="col-sm-3">Address:</dt>
                            <dd class="col-sm-9">{{ user.address }}</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
