<div class="col-md-3">
    <div class="list-group border">
        <div class=" primary-bg">
            <h2 class="text-white">My profile</h2>
        </div>
        <div class="mt-5">
        <a href="{% url 'accounts:my_bookings' %}"><div  class="px-5  "> My bookings </div></a>
        </div>
        <div class="mt-5">
            <a href="{% url 'accounts:edit_profile' %} "  > <div  class="px-5">Profile details</div> </a>
         </div>
        <div class="mt-5">
        <a href=" {% url 'accounts:profile_details' %}"><div  class="px-5">Edit profile </div></a>
        </div>
        <div class="mt-5">
        <a href="{% url 'accounts:change_password' %}" ><div  class="px-5">Change Password</div></a>
        </div>
        
    </div>
</div>